router bgp {{ bgp_data[inventory_hostname]['as'] }}
router-id {{ bgp_data[inventory_hostname]['router-id'] | ansible.utils.ipaddr("address") }}
{% for nei in bgp_data[inventory_hostname]['neighbors'] %}
neighbor {{ nei['ipv4'] | ansible.utils.ipaddr('address') }} remote-as {{ nei['as'] }} 
{% endfor %}
{% for net in bgp_data[inventory_hostname]['networks'] %}
network {{ net }}
{% endfor %}
